body {
    margin: 0;
    padding: 0;
    /* font-size: 14px; */
}
.blank{
    height: 45px;
}
.top_nav{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.top_nav button{
    text-transform: capitalize;
    font-size: 14px;
    margin-left: auto;
    background-color: transparent;
    padding: 2.5px 10px;
    border-radius: 5px;
}

.bottom_nav{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 0 10px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}
.bottom_nav a{
    text-decoration: none;
    color: black;
    padding: 2.5px 7.5px;
    border: 2px solid black;
    border-radius: 5px;
}
.header {
    display: flex;
    background: #404040;
    font-size: 12px;
    padding: 0 0 1px 0;
    border-bottom: 1px solid #b3b3b3;
    color: #fff;
    /* color: #ccc; */
}

.header input[type="checkbox"] {
  display: none; /* or appearance: none; */
}
/* Style the custom checkbox (unchecked state) using the label's ::before pseudo-element */
input[type="checkbox"] + label::before {
  content: ""; /* Required for pseudo-elements to render */
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-bottom: 2px;
  border: 1px solid #7f83a2; /* Custom border color */
  border-radius: 3px;
  background-color: #eeeeee00; /* Desired unchecked background color */
  margin-right: 0.5em; /* Spacing between box and label text */
  vertical-align: middle;
  cursor: pointer;
}
/* Style the custom checkbox (checked state) */
input[type="checkbox"]:checked + label::before {
  background-color: #3d404e; /* Desired checked background color */
  color: white; /* Color of the checkmark */
  text-align: center;
  content: "\2713"; /* Unicode for a checkmark */
  font-weight: bold;
  background-color: rgb(0, 119, 255);
  border: 1px solid rgb(0, 119, 255);
  font-size: 1em;
  line-height: 1.15em; /* Center the checkmark vertically */
}

.header span {
    color: #9cdcfe;
}

.editor {
    display: flex;
    font-family: monospace;
    background: #121212;
    color: #fff;
}

.lines {
    background: #404040;
    width: 25px;
    padding: 0 5px 0 0;
    text-align: right;
    user-select: none;
    color: #858585;
    border-right: 1px solid #b3b3b3;
}

.lines div {
    font-family: monospace;
    width: 100%;
    text-align: right;
    font-size: 10px;
    height: 15px;
}

.code {
    font-family: monospace;
    padding: 0 5px;
    font-size: 13px;
    white-space: pre;
    overflow-x: auto;
    flex: 1;
}
.disabled {
    font-family: monospace;
    color: rgb(180, 180, 180);
}
.link {
    font-family: monospace;
    color: #b4aaff;
    text-decoration: underline;
    cursor: pointer;
}
.tag {
    font-family: monospace;
    color: #569cd6;
}

.attr {
    font-family: monospace;
    color: #9cdcfe;
}

.value {
    font-family: monospace;
    color: #ce9178;
}

.comment {
    font-family: monospace;
    color: #6a9955;
}

.keyword {
    font-family: monospace;
    color: #c586c0;
}
